.film-header {
  background: url("../../../../assets/background.jpg");

  &__title {
    color: #f45460;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 30px;
  }

  &__search-button {
    margin-right: 30px;
    padding: 10px;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}