body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;

  #app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .button {
    text-transform: uppercase;
    font-weight: 800;
    color: #ffffff;
    background: #f45460;
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;

    &:hover {
      background: #ff1f30;
    }

    &--inactive {
      background: #3a3a3a;

      &:hover {
        background: #000000;
      }
    }

    &--white {
      background: #FFFFFF;
      color: #000000;

      &:hover {
        background: #000000;
        color: #FFFFFF;
      }
    }
  }
}