.search-filters {
  display: flex;
  align-items: center;
  margin: 8px 0;

  &__title {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
  }

  .button {
    margin-right: 10px;
    font-size: 14px;
    padding: 5px 0;
    min-width: 100px;
  }
}