.movies-sort {
  font-weight: bold;
  display: flex;

  &__title {
    margin-right: 10px;
  }

  &__filter {
    margin-right: 5px;
    cursor: pointer;

    &:hover {
      color: #f45460;
    }

    &--active {
      color: #f45460;
    }
  }
}