.movie-search {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;

  &__search-field {
    padding: 10px;
  }

  &__search-button {
    padding: 6px 0;
    min-width: 150px;
  }

  &__sub-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
  }
}