.movie-header {
  background: url("../../../../assets/background.jpg");

  &__search {
    margin-top: 15px;
  }

  &__title {
    color: #f45460;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 30px;
  }
}