.card-text-block {
  margin: 10px 3px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__title {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__genres {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
    font-size: 13px;
    color: #7f7f7f;

    &__genre {
      margin-right: 5px;

      &:after {
        content: ',';
      }

      &:last-child:after {
        content: '.';
      }
    }
  }

  &__date {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 0 5px;
  }
}