.film-info {
  display: flex;
  align-items: flex-start;
  padding: 30px;
  padding-top: 0;

  &__poster {
    max-width: 300px;
    height: auto;
  }

  &__description {
    padding: 30px;
    color: #FFFFFF;

    &__title {
      color: #f45460;
      font-weight: 600;
      font-size: 40px;
    }

    &__overview {
      margin-top: 30px;
    }

    &__details {

    }
  }
}